html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}

nav {
  background: transparent;
}
a {
  text-decoration: none;
}

.nav-link {
  color: #ffc130;
  font-weight: 500;
  margin-left: 1em;
  margin-right: 1em;
}
.nav-link.active {
  color: #ffc130 !important;
  font-weight: 700;
  text-decoration: underline;
}

.nav-link:hover {
  font-weight: 700;
  color: #ffc130 !important;
  text-shadow: 0.5px 0.5px rgba(167, 167, 167, 0.5);
}

.navbar-toggler {
  color: #ffc130;
}

.btn {
  margin-left: 1em;
  margin-right: 1em;
}

.bg-sea {
  height: auto;
  background-image: url("img/sea1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.card:hover {
  box-shadow: 12px;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc130;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top svg {
  color: #fff;
  font-size: 1.5rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: transparent;
  outline: #ffc130 1px;
}

.back-to-top:hover svg {
  transform: translateY(-5px);
}

.icon {
  margin-right: 1em;
  font-size: 1.4em; /* Adjust the size as needed */
}

.fade {
  animation: fade 0.5s both;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

audio {
  z-index: -999;
}
